[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pandas = "*"
networkx = "*"
pytest = "*"
z3-solver = "*"
scipy = "*"
more-itertools = "*"
clingo = "*"
clyngor = "*"
pydot = "*"
pipfile = "*"

[requires]
python_version = "3.7"
