name: CI

on: [push, pull_request]

jobs:
    test:
      runs-on: ubuntu-latest
   
    steps:
      - uses: actions/checkout@v1
        with: 
          fetch-depth: 1
      - name: Set up Python 3.7.3
        uses: actions/setup-python@v1
        with:
          python-version: 3.7.3
      - name: Install Poetry
        uses: dschep/install-poetry-action@v1.2
      - name: Cache Poetry virtualenv
        uses: actions/cache@v1
        id: cache
        with: 
          path: ~/.virtualenvs
          key: poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            poetry-${{ hashFiles('**/poetry.lock') }}
      - name: Set Poetry config
        run: |
          poetry config settings.virtualenvs.in-project false
          poetry config settings.virtualenvs.path ~/.virtualenvs
      - name: Install dependencies
        run: poetry install
        if: steps.cache.outputs.cache-hit != 'true'
      - name: Code Quality 
      run: poetry run black . --check          
      - name: Test with pytest
        run: poetry run pytest --cov . -n 2